body, .header, ul, .section1, .first, .cards{
    display: flex;
}

body, .section1 {
    flex-direction: column;
}

.card1, .card2, .card3, .card4 {
    width: 200px;
    height: 250px;
    border: #3882f6 solid;
} 


.header, .first {
    justify-content: space-between;
    width: 1500px;
}

.section1 {
    background-color: #1f2936;
    padding: 28px 68px 32px 60px;
    margin: 0;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo, #hero  {
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

h3, #hero {
    font-weight: bold;
}

#hero {
    font-size: 48px;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    margin-top: 0%;
}

p, li {
    font-size: 18px;
    color: #e5e7eb;
}

button, .last-section {
    background-color: #3882f6;
    color: #e5e7eb;
}

h3, #quote {
   font-size: 36px;
   color: #1f2936; 
}

#quote {
    font-style: italic;
}