body, .header, .first-section, ul, .second-section, .cards, .third-section {
    display: flex;
}

ul {
    list-style-type: none;
}

.first-section, .header, .footer {
    background-color: #1f2937;
}

.third-section {
    background-color: lightgray;
}

.logo {
    margin-top: 0%;
    margin-left: 20px;
    padding: 0;
}

.header {
    justify-content: space-between;
}

.first-section, .third-section {
    justify-content: center;
    align-items: center;
}

body, .first-section, .second-section {
    flex-direction: column;
}

.logo, .hero  {
    color: #f9faf8;
}

h3, .hero {
    font-weight: bold;
}

.hero {
    font-size: 48px;
}

.first-section, li, .footer {
    font-size: 18px;
    color: #e5e7eb;
}

button, .last-section {
    background-color: #3882f6;
    color: #e5e7eb;
}

h3, #quote {
   font-size: 36px;
   color: #1f2937; 
}

#quote {
    font-style: italic;
}